.page1 .img1 img{
  margin-left: 300px;
  height: 470px;
  width: 580px;
}
.page1  h1{
  font-family: Cooper;
   font-size: 70px;
    margin-top: -140px;
    margin-left: 420px;
    cursor: pointer;
} 
/* Page end */

.page2 .img3 img{
  height: 300px;
  margin-top: 200px;
  width:750px;
  border-radius: 10px;
}

.page2 .font1 h1{
color: black;
float: right;
margin-right: 160px;
font-family: Cooper;
}
.page2 .font1 h1:hover{
  color: orange;
}
.page2 .icon{
margin-left: 870px;
margin-top: -300px;
}
.page2 .font1 p{
color: black;
font-weight: bold;
font-family: Centaur;
float: right;
margin-left: 850px;
margin-top: 30px;
}

/* page3 start */

  .page3 .img3 img{
    margin-top: 170px;
    border-radius: 10px;
    height: 300px;
    width: 670px;
    float: right;
    
  }

.font3 h2{
  font-family: Cooper;
  margin-top: 160px;
  transition: 1s;
  margin-left: 50px;
  font-size: 30px;
  float: left;
}
.font3 h2:hover{
  color: orange;
  border-bottom:2px solid black;
}

.font3 p{
  font-family:Centaur;
  margin-top: 370px;
  padding: 5px;
  margin-left: 50px;
  font-size: 18px;
  
  font-weight: bold;
}
.font3 button{
  background-color: rgb(44, 42, 42);
  color: white;
  padding: 17px;
  margin: 4px;
  margin-top: -180px;
  margin-left: 36px;
  border: none;
  font-weight: bold;
  transition: 1s;
  border-radius: 13px;

}
.font3 button:hover{
  background-color: orange;
  color: black;
} 




/* page4 start */

.page4 .img5 img{
  margin-top: 130px;
  margin-left: 140px;
}
.page4 .font4{
  margin-top: -450px;
  margin-left:280px;
}

.font4 h3{
  margin-left: 150px;
  font-family: Cooper;
  margin-top: -520px;
  
}
.font4 h3:hover{
  color: orange;
}
.font4 .p1 p{

  margin-left: 310px;
  top: -310px;
  font-weight: bold;
  font-size: 19px;
  position: relative;
  font-family: Centaur;
}
.font4  p{
  font-weight: bold;
  font-family: Centaur;
  margin-left: 100px;
  font-size: 19px;
}
.font4 .img6 img{
  margin-left: -10px;
  margin-top: -530px;
  width: 550px;
}
/* page5 start */
.page5 .container{
  overflow: none;
}
.page5 h1{
margin-top:-170px;
margin-right: 160px;
font-family: Cooper;
padding: 55px;
text-align: center;
margin-left: 200px;
transition: 1s;
}


.w{
  background-color: whitesmoke;
  padding: 14px;
  height:200px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.w p{
  color: black;
  font-family: Centaur;
  margin-top: 10px;
  font-weight: bold;
}
.w h3:hover{
  color: orange;
}
.w img{
  margin-top: 30px;
}
.w h3{
  color: black;
  font-family: Centaur;
  font-weight: bold;
}
/* page 5 end */
.page6 h1{
  margin-top: 60px;
  padding: 20px;
  margin-right: 160px;
font-family: Cooper;
text-align: center;
margin-left: 200px;
}
.page6 h3{
  color: black;
  font-family: Centaur;
  margin-left: 50px;
  font-weight: bold;
  
}
.page6 h1:hover{
  color: orange;
}
.page6 h3:hover{
  color: orange;
}
.page6 .icon{
  margin-left: 50px;
  
}
.page6 img{
  border-radius: 10px;
  transition: 2s;
}
.page6 img{
  transition: 4s;
}
.page6 img:hover{
  transform: scale(0.8);
}
/* .page6 end */
/* footer */
.footer{
  height: 300px;
  transition: 3s;
  width: 100%;
  background-color: rgb(31, 29, 29);
  padding: 30px;
  margin-top: 100px;
}
.footer .footer1.p{
 color: white;

}
.footer2{
  margin-top: -250px;
  margin-left: 350px;
  color: aliceblue;
}
.footer2 h4{
  color: white;
  font-family: cooper;
  margin-left: -30px;
}

.footer3 {
  margin-top: -160px;
  margin-left: 580px;
  color: white;
  
}
.footer3 h4{
  font-weight: bold;
  font-family: cooper;
}
.footer3 ul li{
  display: flex;
  margin-left: -38px;
}
.footer4{
    color: white;
    margin-top: -100px;
    margin-left: 830px;
}
.footer4 h4{
  color: white;
  font-family: cooper;
  margin-top: -195px;
}
.footer5 .text-center{
  margin-top: -30px;
  color: white;
}
.footer2 .footer-links a{
  text-decoration: none;
  color: white;
}

.footer2 .footer-links a:hover{
  color: orange;
}
.footer3 ul li:hover{
  color: orange;
}
.footer4 .add:hover{
  color: orange;
}
.footer h4:hover{
  color: orange;
}











@media screen and (max-width:1000px){
  .page1 .img1 img{
   height: auto;
   width: 100%;
   margin: auto;
  }
  .page1 h1{
    margin: auto;
    margin-top: -130px;
  }
  .page2{
    margin-top: -100px;
  }
  .page2 .font1 p{
    margin: auto;
  }
   .page2 .img3 img{
    width: 100%;
    height: auto;
  }
  .page2 .icon{
    margin: auto;
    display: none;
  }
.page3{
  margin: auto;
  margin-top: -100px;
}
  .page3 .button{
    margin: auto;

  }
 .page3 .img3 img{
  height: auto;
  width: 100%;
 }
 .font3 h2{
  margin: auto;
  font-size: 20px;
 }
 .font3 p{
  margin: auto;
 }

 .page4 .img5 img{
  height: auto;
  margin: auto;
  width: 100%;
 }
 .page4 .font4 h3{
  margin: auto;
   margin-top: 250px;
   margin-left: -150px;
  font-size: 10px;

 }
 .font4  p{
  margin: auto;
  margin-left: -160px;
  font-size: 14px;
 }
 .font4 .p1 p{
  margin: auto;
  margin-left: -100px;
  font-size: 14px;
  top: -142px;
 }
 .font4 .img6 img{
  margin: auto;
  height: auto;
  width: 100%;
  margin-top: -250px;
  margin-left: -200px;
 }
 
.page5 h1{
  margin: auto;
}
.footer{
  margin: auto;
  background-color: black;
  height: 100%;
}
.footer1{
  margin: auto;
}
.footer2{
  margin: auto;
  margin-top:70px;
}
.footer3{
  margin: auto;
  margin-top: 70px;
}
.footer4{
  margin: auto;
  margin-top: 200px;
}
.footer5{
  margin: auto;
  margin-top: 249px;
}
.page6 h1{
  margin: auto;
  font-size: 20px;
}


}